@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'cursive', 'sans-serif';
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/hero-img1.jpg);
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
    margin: 1rem 0;
    padding: 0 0.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

header {
    margin: 1rem auto;
}

/* UTILITIES */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    height: 80vh;
    width: 90vw;
    background-color: rgba(204, 198, 140, 0.5);
    max-width: 80rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1.4rem 0;
}

.container>* {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

/*BUTTONS*/

.btn {
    border: 0.1rem solid #000;
    color: #000;
    background-color: aliceblue;
    padding: 0.5rem;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    width: 10rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-radius: 0.9rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.5rem 0 rgba(193, 130, 13, 0.7);
    transform: translateY(0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


/* Start Page */

#start-page {
    display: block;
    margin: 0 auto;
}

/* Choose Level Page*/
#choose-level {
    display: none;
    margin: 0 auto;
}

/* Game Page */

#game-page {
    display: none;
    margin: 0 auto;
}

#game {
    height: 80vh;
}

#game h2 {
    padding: 0 1rem;
}

.choice-container {
    display: flex;
    margin: 0 1rem 1rem;
    font-size: 2rem;
    background-color: rgb(241, 241, 241);
    border-radius: 1rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.2rem 1.6rem 0;
    transform: translateY(-0.2rem);
    transition: transform 150ms;
    background-color: rgba(221, 215, 141, 0.7);
}

#question {
    margin: 2rem auto;
    width: 20rem;
}

.choice-prefix {
    padding: 0.5rem 1rem;
    background-color: #DCBF85;
    border-radius: 1rem;
}

.answer {
    padding: 0.5rem;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.answer-result {
    font-size: 1.6rem;
    margin: 0.5rem 1rem;
    height: 3rem;
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: 0 0.2rem 1rem 0 rgba(193, 130, 13, 0.7);
}

/* Highscores page */
#highscores-page {
    display: block;
    margin: 0 auto;
}

.div-list {
    padding: 0 1rem;
    background-color: rgba(199, 199, 199, 0.5);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 1rem 0;
}

#highscores-list {
    padding-left: 0;
    margin: 2rem;
}

.high-score {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media screen and (min-width:490px) {
    #question {
        width: 30rem;
        margin: 2rem auto;
    }

    .choice-container {
        flex-basis: 20%;
    }

    .container>* {
        width: 66%;
    }
}

@media screen and (min-width:700px) {
    .container>* {
        width: 50%;
    }
}